extends layout

block head
  link(href="stylesheets/esl.css", rel="stylesheet")
  link(href="stylesheets/divimage.css", rel="stylesheet")

block content

  div(id='tvsafe').tvsafe
    div.row
      div.col-lg-12.text-center
        h1.title Match Summary

    div.row
      div.col-lg-4.text-center
        img(src="assets/teams/tempostorm.png").team
        h3 Tempo Storm
      div.col-lg-1.text-center.flex.flex-center
        h5 2
      div.col-lg-2.text-center.flex.flex-center
        div
          h4 vs
      div.col-lg-1.text-center.flex.flex-center
        h5 3
      div.col-lg-4.text-center
        img(src="assets/teams/cloud9vortex.png").team
        h3 Cloud 9 Maelstrom

    div.row
      div.col-lg-5.text-center.winner
        div.col-lg-2
        div.col-lg-2
          div.divimage.divimagelg.divimage-chen
        div.col-lg-2
          div.divimage.divimagelg.divimage-diablo
        div.col-lg-2
          div.divimage.divimagelg.divimage-abathur
        div.col-lg-2
          div.divimage.divimagelg.divimage-tyrande
        div.col-lg-2
          div.divimage.divimagelg.divimage-tyrael
      div.col-lg-2.text-center
        div.divimage.divimagewide.divimage-sky-temple
      div.col-lg-5.text-center.loser
        div.col-lg-2
          div.divimage.divimagelg.divimage-tychus
        div.col-lg-2
          div.divimage.divimagelg.divimage-gazlowe
        div.col-lg-2
          div.divimage.divimagelg.divimage-lili
        div.col-lg-2
          div.divimage.divimagelg.divimage-nova
        div.col-lg-2
          div.divimage.divimagelg.divimage-valla
        div.col-lg-2

    div.row
      div.col-lg-5.text-center.loser
        div.col-lg-2
        div.col-lg-2
          div.divimage.divimagelg.divimage-abathur
        div.col-lg-2
          div.divimage.divimagelg.divimage-tyrande
        div.col-lg-2
          div.divimage.divimagelg.divimage-tyrael
        div.col-lg-2
          div.divimage.divimagelg.divimage-chen
        div.col-lg-2
          div.divimage.divimagelg.divimage-diablo

      div.col-lg-2.text-center
        div.divimage.divimagewide.divimage-blackhearts-bay
      div.col-lg-5.text-center.winner
        div.col-lg-2
          div.divimage.divimagelg.divimage-nova
        div.col-lg-2
          div.divimage.divimagelg.divimage-valla
        div.col-lg-2
          div.divimage.divimagelg.divimage-tychus
        div.col-lg-2
          div.divimage.divimagelg.divimage-gazlowe
        div.col-lg-2
          div.divimage.divimagelg.divimage-lili
        div.col-lg-2

    div.row
      div.col-lg-5.text-center.loser
        div.col-lg-2
        div.col-lg-2
          div.divimage.divimagelg.divimage-tychus
        div.col-lg-2
          div.divimage.divimagelg.divimage-gazlowe
        div.col-lg-2
          div.divimage.divimagelg.divimage-lili
        div.col-lg-2
          div.divimage.divimagelg.divimage-nova
        div.col-lg-2
          div.divimage.divimagelg.divimage-valla
      div.col-lg-2.text-center
        div.divimage.divimagewide.divimage-garden-of-terror
      div.col-lg-5.text-center.winner
        div.col-lg-2
          div.divimage.divimagelg.divimage-chen
        div.col-lg-2
          div.divimage.divimagelg.divimage-diablo
        div.col-lg-2
          div.divimage.divimagelg.divimage-abathur
        div.col-lg-2
          div.divimage.divimagelg.divimage-tyrande
        div.col-lg-2
          div.divimage.divimagelg.divimage-tyrael
        div.col-lg-2

    div.row
      div.col-lg-5.text-center.winner
        div.col-lg-2
        div.col-lg-2
          div.divimage.divimagelg.divimage-abathur
        div.col-lg-2
          div.divimage.divimagelg.divimage-chen
        div.col-lg-2
          div.divimage.divimagelg.divimage-tyrande
        div.col-lg-2
          div.divimage.divimagelg.divimage-tyrael
        div.col-lg-2
          div.divimage.divimagelg.divimage-diablo
      div.col-lg-2.text-center
        div.divimage.divimagewide.divimage-haunted-mines
      div.col-lg-5.text-center.loser
        div.col-lg-2
          div.divimage.divimagelg.divimage-lili
        div.col-lg-2
          div.divimage.divimagelg.divimage-nova
        div.col-lg-2
          div.divimage.divimagelg.divimage-tychus
        div.col-lg-2
          div.divimage.divimagelg.divimage-gazlowe
        div.col-lg-2
          div.divimage.divimagelg.divimage-valla
        div.col-lg-2

    div.row
      div.col-lg-5.text-center.loser
        div.col-lg-2
        div.col-lg-2
          div.divimage.divimagelg.divimage-chen
        div.col-lg-2
          div.divimage.divimagelg.divimage-diablo
        div.col-lg-2
          div.divimage.divimagelg.divimage-abathur
        div.col-lg-2
          div.divimage.divimagelg.divimage-tyrande
        div.col-lg-2
          div.divimage.divimagelg.divimage-tyrael
      div.col-lg-2.text-center
        div.divimage.divimagewide.divimage-cursed-hollow
      div.col-lg-5.text-center.winner
        div.col-lg-2
          div.divimage.divimagelg.divimage-tychus
        div.col-lg-2
          div.divimage.divimagelg.divimage-gazlowe
        div.col-lg-2
          div.divimage.divimagelg.divimage-lili
        div.col-lg-2
          div.divimage.divimagelg.divimage-nova
        div.col-lg-2
          div.divimage.divimagelg.divimage-valla
        div.col-lg-2
