extends layout


block content
  div.container
    style.
      .row { margin-top: 24px;}

    div.row
      div.col-lg-12
        div.control-group
          label(for='title',class='control-label') Title
          div.controls
            input(data-group="text",type='text',id='title',name='title',placeholder="Title of the Stream",class='form-control')

    div.row
      div.col-md-6
        div.control-group
          label(for='subtitle1',class='control-label') SubTitle Top Line
          div.controls
            input(data-group="text",type='text',id='subtitle1',name='subtitle1',placeholder='Solo Queue',class='form-control')
      div.col-md-6
        div.control-group
          label(for='subtitle2',class='control-label') SubTitle Bottom Line
          div.controls
            input(data-group="text",type='text',id='subtitle2',name='subtitle2',placeholder='Quick Match',class='form-control')
      div.col-lg-12
        ul.nav.nav-pills.nav-justified
          li(data-group="subtitle-pills",id="subtitleText")
            a(href="#") Use Text
          li(data-group="subtitle-pills",id="subtitleAFKBreak")
            a(href="#") AFK On Break
          li(data-group="subtitle-pills",id="subtitleAFKCustom")
            a(href="#") AFK Custom

    div.row
      div.col-md-8
        +hero-select('hero-video','Hero Video')

    div.row

    div.row
      div.col-lg-12
        div(role='tabpanel')
          ul(role='tablist').nav.nav-tabs
            li(role='presentation')
              a(href='#tab-footer',aria-expanded='false',role='tab',data-toggle='tab')
                span(id='label-footer').label.label-primary Footer Info
            li(role='presentation').active
              a(href='#tab-map',aria-expanded='true',role='tab',data-toggle='tab')
                span(id='label-map').label.label-primary Map Info
            li(role='presentation')
              a(href='#tab-hero',aria-expanded='false',role='tab',data-toggle='tab')
                span(id='label-hero').label.label-primary Hero Info
            li(role='presentation')
              a(href='#tab-team',aria-expanded='false',role='tab',data-toggle='tab')
                span(id='label-team').label.label-primary Team Info
            li(role='presentation')
              a(href='#tab-voice',aria-expanded='false',role='tab',data-toggle='tab')
                span(id='label-voice').label.label-primary Voice Info
            li(role='presentation')
              a(href='#tab-crawl',aria-expanded='false',role='tab',data-toggle='tab')
                span(id='label-crawl').label.label-primary Crawl
            li(role='presentation')
              a(href='#tab-messages',aria-expanded='false',role='tab',data-toggle='tab')
                span Messages

          div.tab-content


            //- MAP TAB
            div(role='tabpanel',id='tab-map').tab-pane.active.has-primary
              div.row
                div.col-lg-12
                  div.btn-toolbar
                    div.btn-group
                      a(data-group="toggle-pills",data-set='map',data-partner='Show',data-value='true',id="mapHide",data-element="map_container",href='#').btn.btn-sm.btn-success Map Tab is VISIBLE
                      a(data-group="toggle-pills",data-set='map',data-partner='Hide',data-value='false',id="mapShow",data-element="map_container",href='#',style="display: none").btn.btn-sm.btn-danger Map Tab is HIDDEN
              div.row
                div.col-md-3
                  div(id="blackhearts-bay")
                    div.control-group
                      label(for='blackhearts-bay-percent',class='control-label') blackhearts-bay
                      div.controls
                        input(data-group='value',type='text',id='blackhearts-bay-percent',placeholder="52",class='form-control')
                div.col-md-3
                  div(id="cursed-hollow")
                    div.control-group
                      label(for='cursed-hollow-percent',class='control-label') cursed-hollow
                      div.controls
                        input(data-group='value',type='text',id='cursed-hollow-percent',placeholder="54",class='form-control')
                div.col-md-3
                  div(id="dragon-shire")
                    div.control-group
                      label(for='dragon-shire-percent',class='control-label') dragon-shire
                      div.controls
                        input(data-group='value',type='text',id='dragon-shire-percent',placeholder="53",class='form-control')
                div.col-md-3
                  div(id="haunted-mines")
                    div.control-group
                      label(for='haunted-mines-percent',class='control-label') haunted-mines
                      div.controls
                        input(data-group='value',type='text',id='haunted-mines-percent',placeholder="52",class='form-control')
                div.col-md-3
                  div(id="garden-of-terror")
                    div.control-group
                      label(for='garden-of-terror-percent',class='control-label') garden-of-terror
                      div.controls
                        input(data-group='value',type='text',id='garden-of-terror-percent',placeholder="46",class='form-control')
                div.col-md-3
                  div(id="sky-temple")
                    div.control-group
                      label(for='sky-temple-percent',class='control-label') sky-temple
                      div.controls
                        input(data-group='value',type='text',id='sky-temple-percent',placeholder="50",class='form-control')
                div.col-md-3
                  div(id="tomb-of-the-spider-queen")
                    div.control-group
                      label(for='tomb-of-the-spider-queen-percent',class='control-label') tomb-of-the-spider-queen
                      div.controls
                        input(data-group='value',type='text',id='tomb-of-the-spider-queen-percent',placeholder="46",class='form-control')


            //- HERO TAB
            div(role='tabpanel',id='tab-hero').tab-pane
              div.row
                div.col-lg-12
                  div.btn-toolbar
                    div.btn-group
                      a(data-group="toggle-pills",data-set='hero',data-partner='Show',data-value='true',id="heroHide",data-element="hero_container",href='#').btn.btn-sm.btn-success Hero Tab is VISIBLE
                      a(data-group="toggle-pills",data-set='hero',data-partner='Hide',data-value='false',id="heroShow",data-element="hero_container",href='#',style="display: none").btn.btn-sm.btn-danger Hero Tab is HIDDEN
              div.row
                div.col-md-3
                  div(id="warrior")
                    div.control-group
                      label(for='warrior-value',class='control-label') warrior
                      div.controls
                        input(data-group='value',type='text',id='warrior-value',placeholder="123",class='form-control')
                div.col-md-3
                  div(id="assassin")
                    div.control-group
                      label(for='assassin-value',class='control-label') assassin
                      div.controls
                        input(data-group='value',type='text',id='assassin-value',placeholder="234",class='form-control')
                div.col-md-3
                  div(id="support")
                    div.control-group
                      label(for='support-value',class='control-label') support
                      div.controls
                        input(data-group='value',type='text',id='support-value',placeholder="345",class='form-control')
                div.col-md-3
                  div(id="specialist")
                    div.control-group
                      label(for='specialist-value',class='control-label') specialist
                      div.controls
                        input(data-group='value',type='text',id='specialist-value',placeholder="456",class='form-control')
              div.row
                div.col-md-4
                  div(id="hero1")
                    +hero-select('hero1-text','Hero 1')
                    div.col-lg-8
                      div.control-group
                        label(for='hero1-progress',class='control-label') hero1-progress
                        div.controls
                          input(data-group='value',type='text',id='hero1-progress',placeholder="2345/4750",class='form-control')
                    div.col-lg-4
                      div.control-group
                        label(for='hero1-level',class='control-label') hero1-level
                        div.controls
                          input(data-group='value',type='text',id='hero1-level',placeholder="10",class='form-control')
                div.col-md-4
                  div(id="hero2")
                    +hero-select('hero2-text','Hero 2')
                    div.col-lg-8
                      div.control-group
                        label(for='hero2-progress',class='control-label') hero2-progress
                        div.controls
                          input(data-group='value',type='text',id='hero2-progress',placeholder="2345/4750",class='form-control')
                    div.col-lg-4
                      div.control-group
                        label(for='hero2-level',class='control-label') hero2-level
                        div.controls
                          input(data-group='value',type='text',id='hero2-level',placeholder="10",class='form-control')
                div.col-md-4
                  div(id="hero3")
                    +hero-select('hero3-text','Hero 3')
                    div.col-lg-8
                      div.control-group
                        label(for='hero3-progress',class='control-label') hero3-progress
                        div.controls
                          input(data-group='value',type='text',id='hero3-progress',placeholder="2345/4750",class='form-control')
                    div.col-lg-4
                      div.control-group
                        label(for='hero3-level',class='control-label') hero3-level
                        div.controls
                          input(data-group='value',type='text',id='hero3-level',placeholder="10",class='form-control')


            //- CRAWL TAB
            div(role='tabpanel',id='tab-crawl').tab-pane
              div.row
                div.col-lg-12
                  div.control-group
                    label(for='crawl-text',class='control-label') Crawl
                    div.controls
                      textarea(type='text',id='crawl-text',name='crawl-text',placeholder=':: <strong>Heroes of the Dorm</strong> :: Boston College defeated Western Ontario in a 2-0 victory.  ||  Arizona State beat Texas A&M in a 2-0 victory.',class='form-control')
              div.row
                div.col-lg-12
                  ul.nav.nav-pills.nav-justified
                    li(data-group="crawl-pills",id="crawlBlack")
                      a(href="#") Default Crawl
                    li(data-group="crawl-pills",id="crawlBlue")
                      a(href="#") Priority Crawl
                    li(data-group="crawl-pills",id="crawlRed")
                      a(href="#") Urgent Crawl
                    li(data-group="crawl-pills",id="crawlDisable")
                      a(href="#") Disable Crawl


            //- MESSAGES TAB
            div(role='tabpanel',id='tab-messages').tab-pane
              - for (var i = 0; i < 10; ++i) {
                div.row
                  div.col-lg-12
                    fieldset.active
                      legend Message #{i}
                      div.control-group
                        label(for='message'+i+'-text',class='control-label') message
                        div.controls
                          textarea(data-group='text',type='text',id='message'+i+'-text',placeholder="message "+i,class='form-control')
                      div.control-group
                        label(for='message'+i+'-tag',class='control-label') tag
                        div.controls
                          input(data-group='text',type='text',id='message'+i+'-tag',placeholder="tag "+i,class='form-control')
              - }


            //- VOICE TAB
            div(role='tabpanel',id='tab-voice').tab-pane
              div.row
                div.col-lg-12
                  div.btn-toolbar
                    div.btn-group
                      a(data-group="toggle-pills",data-set='voice',data-partner='Show',data-value='true',id="voiceHide",data-element="voice_container",href='#').btn.btn-sm.btn-success Voice Tab is VISIBLE
                      a(data-group="toggle-pills",data-set='voice',data-partner='Hide',data-value='false',id="voiceShow",data-element="voice_container",href='#',style="display: none").btn.btn-sm.btn-danger Voice Tab is HIDDEN
              div.row
                div.col-lg-12
                  - for (var i = 1; i < 4; ++i) {
                    div.col-sm-4
                      div(id='voice'+i)
                        +talent-select('voice'+i+'-picture','voice'+i+'-picture')
                        div.control-group
                          label(for='voice'+i+'-text',class='control-label') voice#{i}-text
                          div.controls
                            input(data-group='text',type='text',id='voice'+i+'-text',placeholder='Player '+i,class='form-control')
                  - }
              div.row
                div.col-lg-12
                  - for (var i = 4; i < 7; ++i) {
                    div.col-sm-4
                      div(id='voice'+i)
                        +talent-select('voice'+i+'-picture','voice'+i+'-picture')
                        div.control-group
                          label(for='voice'+i+'-text',class='control-label') voice#{i}-text
                          div.controls
                            input(data-group='text',type='text',id='voice'+i+'-text',placeholder='Player '+i,class='form-control')
                  - }


            //- FOOTER TAB
            div(role='tabpanel',id='tab-footer').tab-pane
              div.row
                div.col-lg-4
                  label(for='sidebar_footer',class='control-label') Footer Background
                  select(data-for='sidebar_footer',id='sidebar_footer').form-control
                    +select-option("fogey-league")
                    +select-option("hero-league")
                div.col-lg-4
                  div.control-group
                    label(for='rank',class='control-label') Rank
                    div.controls
                      input(data-group='value',type='text',id='rank',name='rank',placeholder="25",class='form-control')


            div(role='tabpanel',id='tab-team').tab-pane
              div.row
                div.col-lg-12
                  div.btn-toolbar
                    div.btn-group
                      a(data-group="toggle-pills",data-set='team',data-partner='Show',data-value='true',id="teamHide",data-element="team_container",href='#').btn.btn-sm.btn-success Team Tab is VISIBLE
                      a(data-group="toggle-pills",data-set='team',data-partner='Hide',data-value='false',id="teamShow",data-element="team_container",href='#',style="display: none").btn.btn-sm.btn-danger Team Tab is HIDDEN
              div.row
                div.col-lg-12
                  +map-select('team-map-picture','team-map-picture')

              div.row
                div.col-lg-8
                  div.control-group
                    label(for='team-blue-text',class='control-label') Blue Team Name
                    div.controls
                      input(data-group="text",type='text',id='team-blue-text',name='team-blue-text',placeholder='Blue Team',class='form-control')
                div.col-lg-4
                  div.control-group
                    label(for='team-blue-games',class='control-label') Games Won
                    div.controls
                      input(data-group='value',type='text',id='team-blue-games',name='team-blue-games',placeholder="0",class='form-control')
              div.row
                div.col-lg-8
                  div.control-group
                    label(for='team-red-text',class='control-label') Red Team Name
                    div.controls
                      input(data-group="text",type='text',id='team-red-text',name='team-red-text',placeholder='Red Team',class='form-control')
                div.col-lg-4
                  div.control-group
                    label(for='team-red-games',class='control-label') Games Won
                    div.controls
                      input(data-group='value',type='text',id='team-red-games',name='team-red-games',placeholder="0",class='form-control')


            div(role='tabpanel',id='tab-template').tab-pane
              div.col-lg-12
                div.col-md-2
                  div(id="template")
                    div.control-group
                      label(for='template-value',class='control-label') template
                      div.controls
                        input(data-group='value',type='text',id='template-value',placeholder='42',class='form-control')

    hr

    div.row
      div.col-lg-12
        a(href="#",class="btn btn-primary",id="reloadButton") Reload
        a(href="#",class="btn btn-warning",id="hideMsgButton") Hide Messages
        a(href="#",class="btn btn-success",id="showMsgButton", style="display: none") Show Messages

block foot
    script(src="/js/socket-messageboard-common.js")
    script(src="/js/messageboard-admin.js")