body { font-family: 'Exo 2'; }

.font-opensans { font-family: "Open Sans"; }


div.center { margin-left: auto; margin-right: auto; }

.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -moz-box-wrap: nowrap; -webkit-box-wrap: nowrap; -webkit-flex-wrap: nowrap; -ms-flexbox-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
.flex-row { -moz-box-direction: row; -webkit-box-direction: row; -webkit-box-orient: horizontal; -webkit-flex-direction: row; -ms-flexbox-direction: row; -ms-flex-direction: row; flex-direction: row; }
.flex-col { -moz-box-direction: column; -webkit-box-direction: column; -webkit-box-orient: vertical; -webkit-flex-direction: column; -ms-flexbox-direction: column; -ms-flex-direction: column; flex-direction: column; }
.flex-align-content-between { -webkit-box-align-content: space-between; -webkit-align-content: space-between; -ms-flex-align-content: space-between; align-content: space-between; }
.flex-align-content-center { -webkit-box-align-content: center; -webkit-align-content: center; -ms-flex-align-content: center; align-content: center; }
.flex-align-content-start { -webkit-box-align-content: flex-start; -webkit-align-content: flex-start; -ms-flex-align-content: flex-start; align-content: flex-start; }
.flex-align-items-start { -webkit-box-align: flex-start; -webkit-align-items: flex-start; -moz-box-align: flex-start; -ms-flex-align: flex-start; align-items: flex-start; }
.flex-align-items-center { -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; }
.flex-align-item-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -moz-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }
.flex-justify-between { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; -moz-box-pack: justify; justify-content: space-between; }
.flex-justify-center { -webkit-box-pack: justify; -webkit-justify-content: center; -ms-flex-pack: justify; -moz-box-pack: justify; justify-content: center; }
.flex-justify-start { -webkit-box-pack: justify; -webkit-justify-content: flex-start; -ms-flex-pack: justify; -moz-box-pack: justify; justify-content: flex-start; }
.flex-justify-end { -webkit-box-pack: justify; -webkit-justify-content: flex-end; -ms-flex-pack: justify; -moz-box-pack: justify; justify-content: flex-end; }
.flex-wrap { -moz-box-wrap: wrap; -webkit-box-wrap: wrap; -webkit-flex-wrap: wrap; -ms-flexbox-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

/* 
.flex-start-all { -webkit-box-pack: justify; -webkit-justify-content: flex-start; -ms-flex-pack: justify; -moz-box-pack: justify; justify-content: flex-start; -webkit-box-align: flex-start; -webkit-align-items: flex-start; -moz-box-align: flex-start; -ms-flex-align: flex-start; align-items: flex-start; -webkit-box-align-content: flex-start; -webkit-align-content: flex-start; -ms-flex-align-content: flex-start; align-content: flex-start; }
*/

div.wide { width: 100%; }
div.inline-flex { display: inline-flex; align-items: center; align-content: center; width: 100%;}

div.pad-none { padding: 0px; }
div.pad-small { padding: 2px; }


/*
 ***** Media Queries *****
 */

@media screen and (min-width: 1920px) and (min-height: 1080px){
    #wrapper {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        left: 0px;
        top: 0px;
        position: absolute;
    }
}

@media screen and (min-width: 1368px) and (max-width: 1919px), screen and (min-height: 768px) and (max-height: 1079px) {
    #wrapper {
        transform: scale(0.7114583333333);
        -webkit-transform: scale(0.7114583333333);
        -moz-transform: scale(0.7114583333333);
        left: -277px;
        top: -156px;
        position: absolute;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1366px), screen and (min-height: 720px) and (max-height: 767px) {
    #wrapper {
        transform: scale(0.6666666666667);
        -webkit-transform: scale(0.6666666666667);
        -moz-transform: scale(0.6666666666667);
        left: -320px;
        top: -180px;
        position: absolute;
    }
}


@media screen and (min-width: 960px) and (max-width: 1279px), screen and (min-height: 560px) and (max-height: 719px){
    #wrapper {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        left: -480px;
        top: -270px;
        position: absolute;
    }
}

/*
@media screen and (min-width: 1px) and (max-width: 854px){
    #wrapper {
        transform: scale(0.4444444444444);
        -webkit-transform: scale(0.4444444444444);
        -moz-transform: scale(0.4444444444444);
        left: -534px;
        top: -300px;
        position: absolute;
    }
}
*/

@media screen and (max-width: 853px) and (max-height: 480px){
    #wrapper {
        transform: scale(0.417);
        -webkit-transform: scale(0.417);
        -moz-transform: scale(0.417);
        left: -560px;
        top: -300px;
        position: absolute;
    }
}