* {margin: 0px; padding: 0px; font-weight: normal; list-style-type: none;}

body {background: #000; cursor: none; font-family: 'Open Sans', sans-serif; color: white; }

#wrapper {width: 1920px; height: 1080px; overflow: hidden; float: left; background-image: url('../assets/backgrounds/esl.png'); }

#tvsafe { width: 1600px; height: 900px; overflow: hidden; margin-top: 90px; margin-left: auto; margin-right: auto; }

div.row {
    margin-top: 8px;
}

h1 { font-size: 5em; }
h2 { font-size: 4em; }
h3 { font-size: 3em; }
h4 { font-size: 4em; }
h5 { font-size: 14em; }
h6 { font-size: 1.5em; }

div.flex { display: flex; height: 100%;}
div.flex-center { align-items: center; align-content: center; }

img.team {
    width: 224px;
    height: 224px;
     -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.7));
}

div.loser > div > div { -webkit-filter: grayscale(100%); filter: grayscale(100%); }


div.winner > div > div {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(18,212,0,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(18,212,0,1);
    box-shadow: 0px 0px 20px 0px rgba(18,212,0,1);
}


/*
 ***** Media Queries *****
 */

@media screen and (min-width: 1367px) and (max-width: 1920px){
    #wrapper {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        left: 0px;
        top: 0px;
        position: absolute;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px), screen and (max-height: 765px){
    #wrapper {
        transform: scale(0.7114583333333);
        -webkit-transform: scale(0.7114583333333);
        -moz-transform: scale(0.7114583333333);
        left: -277px;
        top: -156px;
        position: absolute;
    }
}

@media screen and (min-width: 961px) and (max-width: 1280px){
    #wrapper {
        transform: scale(0.6666666666667);
        -webkit-transform: scale(0.6666666666667);
        -moz-transform: scale(0.6666666666667);
        left: -320px;
        top: -180px;
        ;position: absolute;
    }
}

@media screen and (min-width: 855px) and (max-width: 960px){
    #wrapper {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        left: -480px;
        top: -270px;
        position: absolute;
    }
}

@media screen and (min-width: 1px) and (max-width: 854px){
    #wrapper {
        transform: scale(0.4444444444444);
        -webkit-transform: scale(0.4444444444444);
        -moz-transform: scale(0.4444444444444);
        left: -534px;
        top: -300px;
        position: absolute;
    }
}
