.base {
    margin-left: -650px;
    margin-top: -150px;
}


.abathur {
    margin-left: -667px;
    margin-top: -207px;
}
.abathur_pajamathur {
    margin-left: -667px;
    margin-top: -207px;
}

.anubarak {
    margin-left: -660px;
    margin-top: -195px;
}
.arthas {
    margin-left: -650px;
    margin-top: -107px;
}
.azmodan {
    margin-left: -644px;
    margin-top: -150px;
}
.brightwing {
    margin-left: -650px;
    margin-top: -150px;
}
.chen {
    margin-left: -650px;
    margin-top: -180px;
}
.diablo {
    margin-left: -650px;
    margin-top: -115px;
}

.etc {
    margin-left: -674px;
    margin-top: -137px;
}
.falstad {
    margin-left: -650px;
    margin-top: -150px;
}
.gazlowe {
    margin-left: -622px;
    margin-top: -213px;
}
.illidan {
    margin-left: -650px;
    margin-top: -110px;
}
.jaina {
    margin-left: -579px;
    margin-top: -136px;
}
.kerrigan {
    margin-left: -636px;
    margin-top: -89px;
}
.lili {
    margin-left: -615px;
    margin-top: -180px;
}
.malfurion {
    margin-left: -658px;
    margin-top: -122px;
}
.muradin {
    margin-left: -650px;
    margin-top: -219px;
}
.murky {
    margin-left: -705px;
    margin-top: -246px;
}
.nazeebo {
    margin-left: -633px;
    margin-top: -147px;
}
.nova {
    margin-left: -668px;
    margin-top: -134px;
}
.raynor {
    margin-left: -650px;
    margin-top: -140px;
}
.rehgar {
    margin-left: -683px;
    margin-top: -157px;
}
.sgt-hammer {
    margin-left: -661px;
    margin-top: -117px;
}
.sonya {
    margin-left: -636px;
    margin-top: -171px;
}
.stitches {
    margin-left: -671px;
    margin-top: -150px;
}
.sylvanas {
    margin-left: -720px;
    margin-top: -120px;
}
.tassadar {
    margin-left: -679px;
    margin-top: -100px;
}
.the-lost-vikings {
    margin-left: -696px;
    margin-top: -124px;
}
.thrall {
    margin-left: -650px;
    margin-top: -119px;
}
.tychus {
    margin-left: -675px;
    margin-top: -128px;
}
.tyrael {
    margin-left: -611px;
    margin-top: -90px;
}
.tyrande {
    margin-left: -613px;
    margin-top: -117px;
}
.uther {
    margin-left: -650px;
    margin-top: -150px;
}
.valla {
    margin-left: -667px;
    margin-top: -100px;
}
.zagara {
    margin-left: -696px;
    margin-top: -170px;
}
.zeratul {
    margin-left: -676px;
    margin-top: -116px;
}